div#movie_list {

	position: absolute;

	width: 890px;

	border: 1px solid gray;

	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 6px;
	padding-right: 4px;

	webkit-border-radius: 10px;
      -moz-border-radius: 10px;
           border-radius: 10px;

	background: white;
}

div#movie_fromlist {

	float: left;

	margin-left: 8px;
	margin-right: 8px;

	margin-bottom: 60px;

	width: 130px;
	height: 190px;
}

div#option-form {

	width: 800px;
}

label#createput {

	font-size: 13px;
	font-weight: bold;

	color: gray;
}

input.name {

	border: 1px solid gray;

	width: 382px;
	height: 23px;

	margin-bottom: 30px;

	padding-left: 12px;
	padding-right: 12px;

	webkit-border-radius: 15px;
			-moz-border-radius: 15px;
					border-radius: 15px;

		font-size: 13px;
}

input.trailer {

	border: 1px solid gray;

	width: 380px;
	height: 23px;

	margin-bottom: 30px;

	padding-left: 12px;
	padding-right: 12px;

	webkit-border-radius: 15px;
			-moz-border-radius: 15px;
					border-radius: 15px;

		font-size: 13px;
}

select.genre {

	border: 1px solid gray;

	width: 120px;
	height: 23px;

	margin-left: 45px;
	margin-bottom: 30px;

	padding-left: 12px;
	padding-right: 12px;

	webkit-border-radius: 15px;
			-moz-border-radius: 15px;
					border-radius: 15px;

		font-size: 13px;
}

select.date {

	border: 1px solid gray;

	height: 23px;

	margin-left: 5px;
	margin-bottom: 30px;

	padding-left: 12px;
	padding-right: 12px;

	webkit-border-radius: 15px;
			-moz-border-radius: 15px;
					border-radius: 15px;

		font-size: 13px;
}

select.classification {

	border: 1px solid gray;

	width: 119px;
	height: 23px;

	margin-bottom: 30px;

	padding-left: 12px;
	padding-right: 12px;

	webkit-border-radius: 15px;
			-moz-border-radius: 15px;
					border-radius: 15px;

		font-size: 13px;
}

textarea.textarea {

	border: 1px solid gray;

	width: 375px;
	height: 200px;

	margin-left: 100px;
	margin-bottom: 30px;

	padding: 12px;


	webkit-border-radius: 15px;
			-moz-border-radius: 15px;
				  border-radius: 15px;

		font-size: 13px;
}

input.poster {

	margin-left: 45px;
	margin-bottom: 30px;
}

div#submit {

	margin-left: 415px;
}

h1#error_message {

	font-size: 25px;

	font-weight: lighter;

	margin-bottom: 20px;
}

h1#result_message {

	font-size: 25px;

	font-weight: lighter;
}
